<form #form="ngForm" autocomplete="off">

	<textarea name="Content" #Content="ngModel" (ngModel)="inputText.content" rows="6" class="form-control mb-3"
		placeholder="Text to be converted" required></textarea>
	<div *ngIf="hasError" class="alert alert-danger" role="alert">{{ errorMessage.error }}</div>

	<button class="btn btn-success btn-lg col-md-5 col-sm-12 mb-3" type="submit" [disabled]="form.invalid"
		(click)="getXml(form)">Convert to XML</button>
	<button class="btn btn-success btn-lg col-md-5 col-sm-12 mb-3 float-right" type="submit" [disabled]="form.invalid"
		(click)="getCsv(form)">Convert to CSV</button>

	<textarea name="Result" #Result="ngModel" [ngModel]="convertedText.content" rows="20" class="form-control"
		disabled></textarea>

</form>